.container {
  width: 90%;
  color: black;
  border: 5px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  left: 40px;
  top: 50px;
}
.col-md-12 {
  padding: 5px;
  margin: auto;
}
.populate {
  background-color: black;
  color: white;
  width: 40%;
  margin: auto;
  padding: 10px;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 75%;
  position: relative;
  left: 150px;
}
.info {
  font-size: 30px;
}